<a href="https://colab.research.google.com/github/Manmeet12404401N090/DS-Lab/blob/main/Python_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
print("Hello, World!")

Hello, World!

In [23]:
a = 5
b = 5
sum = a + b
print("Sum is:", sum)

Sum is: 10

In [24]:
name = input("Enter your name: ")
print("Hello,", name)

Enter your name: Manmeet
Hello, Manmeet

In [25]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number: 5
Odd number

In [26]:
a = 10
b = 15
c = 20
if a >= b and a >= c:
    print("Largest is:", a)
elif b >= a and b >= c:
    print("Largest is:", b)
else:
    print("Largest is:", c)

Largest is: 20

In [27]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [28]:
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial is:", factorial)

Enter a number: 5
Factorial is: 120

In [29]:
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print("Not a prime number")
            break
    else:
        print("Prime number")
else:
    print("Not a prime number")

Enter a number: 5
Prime number

In [30]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operator (+, -, *, /): ")

if op == '+':
    print("Result:", a + b)
elif op == '-':
    print("Result:", a - b)
elif op == '*':
    print("Result:", a * b)
elif op == '/':
    if b != 0:
        print("Result:", a / b)
    else:
        print("Cannot divide by zero!")
else:
    print("Invalid operator")

Enter first number: 5.
Enter second number: 10
Enter operator (+, -, *, /): +
Result: 15.0

In [31]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [32]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Enter a number: 8
Positive number

In [34]:
a = 1
b = 2
a, b = b, a
print("After swapping: a =", a, ", b =", b)

After swapping: a = 2 , b = 1

In [33]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2005
Not a leap year

In [35]:
n = int(input("Enter a number: "))
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print("Sum is:", sum)

Enter a number: 10
Sum is: 55

In [36]:
num = int(input("Enter a number: "))
count = 0
while num != 0:
    num //= 10
    count += 1
print("Number of digits:", count)

Enter a number: 5
Number of digits: 1

In [37]:
text = input("Enter a string: ")
reversed_text = text[::-1]
print("Reversed string:", reversed_text)

Enter a string: Manmeet
Reversed string: teemnaM

In [38]:
text = input("Enter a word: ")
if text == text[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a word: Box
Not a palindrome

In [39]:
text = input("Enter a string: ")
vowels = 'aeiouAEIOU'
count = 0
for char in text:
    if char in vowels:
        count += 1
print("Number of vowels:", count)

Enter a string: Manmeet
Number of vowels: 3

In [40]:
numbers = [10, 25, 7, 100, 58]
print("Largest number is:", max(numbers))

Largest number is: 100

In [41]:
n = int(input("Enter number of terms: "))
a, b = 0, 1
print("Fibonacci series:")
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b
print()

Enter number of terms: 5
Fibonacci series:
0 1 1 2 3

In [42]:
def add(a, b):
    return a + b
print("Sum is:", add(5, 3))

Sum is: 8

In [43]:
def check_even_odd(num):
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")
check_even_odd(7)

Odd

In [44]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
print("Factorial:", factorial(5))

Factorial: 120

In [45]:
def reverse_string(s):
    return s[::-1]
print("Reversed:", reverse_string("hello"))

Reversed: olleh

In [46]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True
print("Is prime?", is_prime(17))

Is prime? True

In [47]:
del sum
nums = [10, 20, 30]
print("Sum is:", sum(nums))

Sum is: 60

In [48]:
text = "banana"
freq = {}
for char in text:
    freq[char] = freq.get(char, 0) + 1
print(freq)

{'b': 1, 'a': 3, 'n': 2}

In [49]:
numbers = [3, 1, 4, 2]
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [1, 2, 3, 4]

In [50]:
student = {"name": "Amit", "age": 20, "grade": "A"}
for key, value in student.items():
    print(key, ":", value)

name : Amit
age : 20
grade : A

In [51]:
nums = [1, 2, 2, 3, 1]
unique = list(set(nums))
print("Unique list:", unique)

Unique list: [1, 2, 3]

In [52]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80]
sliced_list = my_list[2:5]
print(sliced_list)

[30, 40, 50]

In [53]:
my_string = "Hello, World!"
reversed_string = my_string[::-1]
print(reversed_string)

!dlroW ,olleH

In [54]:
letters = ['a', 'b', 'c', 'd', 'e']
every_second = letters[0::2]
print(every_second)

['a', 'c', 'e']

In [55]:
numbers = [2, 4, 6, 8, 10, 12]
first_three = numbers[:3]
print(first_three)

[2, 4, 6]

In [56]:
s = "abcdef"
sliced_s = s[0::2]
print(sliced_s)

ace

In [57]:
try:
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))
    result = num1 / num2
    print("The result of the division is:", result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero!")
except ValueError:
    print("Error: Invalid input. Please enter numbers only.")

Enter the first number: 5
Enter the second number: 0
Error: Cannot divide by zero!

In [58]:
try:
    num = int(input("Enter an integer: "))
    print("You entered:", num)
except ValueError:
    print("Invalid input! Please enter a valid integer.")

Enter an integer: 5
You entered: 5

In [59]:

try:
    a = float(input("Enter first number: "))
    b = float(input("Enter second number: "))
    result = a / b
    print("Result:", result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")

Enter first number: 2
Enter second number: -2
Result: -1.0

In [60]:

try:
    num = int(input("Enter an integer: "))
    print("You entered:", num)
except ValueError:
    print("Error: That is not a valid integer.")

Enter an integer: -2
You entered: -2

In [61]:

def get_element(lst, index):
    try:
        return lst[index]
    except IndexError:
        return "Error: Index out of range."

my_list = [10, 20, 30]
print(get_element(my_list, 2))  # valid
print(get_element(my_list, 5))  # invalid

30
Error: Index out of range.

In [62]:

try:
    f = open("myfile.txt", "r")
    content = f.read()
    print(content)
    f.close()
except FileNotFoundError:
    print("Error: File does not exist.")

Error: File does not exist.

In [63]:

s = input("Enter a number: ")
try:
    num = int(s)
    print("Converted number:", num)
except ValueError:
    print("Error: Cannot convert to integer.")

Enter a number: H
Error: Cannot convert to integer.

In [65]:

try:
    x = int(input("Enter a number: "))
    y = int(input("Enter another number: "))
    print(x / y)
except ZeroDivisionError:
    print("Error: Division by zero.")
except TypeError:
    print("Error: Invalid type.")

Enter a number: 5
Enter another number: 5
1.0

In [66]:

try:
    num = int(input("Enter a number: "))
except ValueError:
    print("Error: Not a valid integer.")
else:
    print("You entered:", num)
finally:
    print("This always runs.")

Enter a number: 5
You entered: 5
This always runs.

In [67]:

class NegativeNumberError(Exception):
    pass

num = int(input("Enter a number: "))
if num < 0:
    raise NegativeNumberError("Negative numbers are not allowed.")
else:
    print("You entered:", num)

Enter a number: 5
You entered: 5

In [68]:

try:
    x = int(input("Enter a number: "))
    y = int(input("Enter another number: "))
    print(x / y)
except (ValueError, ZeroDivisionError) as e:
    print("Error occurred:", e)

Enter a number: 5
Enter another number: 50
0.1

In [69]:

try:
    x = int(input("Enter a number: "))
    try:
        y = int(input("Enter another number: "))
        print(x / y)
    except ZeroDivisionError:
        print("Inner Error: Cannot divide by zero.")
except ValueError:
    print("Outer Error: Invalid input.")

Enter a number: 10
Enter another number: 20
0.5

In [70]:
with open("Hello.txt", "w") as f:
    f.write("Hello World!\n")
    f.write("This is a new file.\n")
    f.write("Python is fun.\n")
print("File created and lines written.")

File created and lines written.

In [71]:

try:
    with open("Hello.txt", "r") as f:
        content = f.read()
        print(content)
except FileNotFoundError:
    print("File not found.")

Hello World!
This is a new file.
Python is fun.

In [72]:

with open("Hello.txt", "a") as f:
    f.write("This line is appended.\n")
print("Line appended to file.")

Line appended to file.

In [73]:

try:
    with open("Hello.txt", "r") as f:
        lines = f.readlines()
        line_count = len(lines)
        word_count = sum(len(line.split()) for line in lines)
        char_count = sum(len(line) for line in lines)
    print("Lines:", line_count)
    print("Words:", word_count)
    print("Characters:", char_count)
except FileNotFoundError:
    print("File not found.")

Lines: 4
Words: 14
Characters: 71

In [ ]:

word = "Python"
try:
    with open("Hello.txt", "r") as f:
        for line in f:
            if word in line:
                print(line, end="")
except FileNotFoundError:
    print("File not found.")

In [ ]:

try:
    with open("Hello.txt", "r") as src:
        content = src.read()
    with open("Copy_Hello.txt", "w") as dest:
        dest.write(content)
    print("File copied to Copy_Hello.txt")
except FileNotFoundError:
    print("Source file not found.")

In [20]:

try:
    with open("Hello.txt", "r") as f:
        for line in f:
            print(line, end="")
except FileNotFoundError:
    print("File not found.")

File not found.

In [74]:

lines = ["Line 1", "Line 2", "Line 3"]
with open("Hello.txt", "w") as f:
    for line in lines:
        f.write(line + "\n")
print("List written to file.")

List written to file.

In [76]:

try:
    with open("Hello.csv", "r") as f:
        for row in f:
            print(row.strip().split(","))
except FileNotFoundError:
    print("CSV file not found.")

CSV file not found.

In [75]:

try:
    with open("Hello.txt", "r") as f:
        lines = f.readlines()
    with open("Hello_no_blanks.txt", "w") as f:
        for line in lines:
            if line.strip():  # non-blank line
                f.write(line)
    print("Blank lines removed and saved to Hello_no_blanks.txt")
except FileNotFoundError:
    print("File not found.")

Blank lines removed and saved to Hello_no_blanks.txt